# Source and config
app/src
app/public
app/node_modules
app/*.config.js
app/*.config.ts
app/*.json
app/*.lock
app/README.md

# Project files
test/
docs/
.gemini/
.github/
.gitignore
tsconfig.json

# Logs
*.log
